# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Feature cache
# =========================
artifacts/cache/

# =========================
# Model checkpoints
# =========================
*.pt
*.pth
*.ckpt

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini